/* 
Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.main-wrapper {
  width: 160rem;
  margin: 0 auto;
  position: relative
}

/******************************/
/* HEADER */
/******************************/

.main-header:before {
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: linear-gradient(to bottom, black -100%, transparent 90%);
}

.main-header {
  width: 100%;
  height: 12rem;
  position: absolute;
  display: flex;
  padding-left: 18rem;
  padding-right: 18rem;
  gap: 2.6rem;
  justify-content: space-between;
}

/******************************/
/* LOGO AND NAVIGATION */
/******************************/

.logo-container {
  margin-right: auto;
  align-items: center;
  display: flex;
}

.logo-container a {
  text-decoration: none;
}

.logo-text {
  font-family: "Yeseva One", sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 3.6rem;
  opacity: 90%;
  font-weight: 400;
}

.nav {
  list-style: none;
  display: flex;
  gap: 2.6rem;
  align-items: stretch;
  height: 100%;
}

.nav-link,
.nav-link:link,
.nav-link:visited,
.nav-link:active {
  display: flex;
  height: 100%;
  align-items: center;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  text-decoration: none;
  color: #fff;
  font-style: normal;
  position: relative;
  font-size: 2.2rem;
  font-weight: 600;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

.nav-link.is-active {
  cursor: default;
}

.nav-link:hover:before,
.nav-link.is-active:before {
  opacity: 70%;
}

.nav-link:before {
  content: '';
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  border-top: 4px solid #fff;
  transition: opacity 0.5s;
  opacity: 0;
}

/******************************/
/* SOCIAL-LINKS */
/******************************/

.social-links {
  list-style: none;
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.4rem;
  height: 2.4rem;
}

.social-link:link,
.social-link:visited {
  color: #dab33e;
}

.social-link:hover {
  opacity: 70%;
  transition: opacity 0.3s;
}

.social-icon {
  font-size: 2rem;
}

/******************************/
/* GENERAL STYLES FOR HEADINGS AND TEXT */
/******************************/

.heading-secondary {
  font-family: "Yeseva One", sans-serif;
  font-size: 3.6rem;
  font-weight: 400;
  margin-bottom: 1.6rem;
}

.heading-light {
  color: #fff;
}

.heading-dark {
  color: #cc9900;
}

.main-description {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  margin-bottom: 4.8rem;
}

.text-dark {
  color: #4c4c4c;
}

.text-light {
  color: #fff;
}

.indent {
  padding-top: 2.8rem;
}

/******************************/
/* PROMO SECTION */
/******************************/

.promo-section {
  background: url('../gallery/banners/promo-banner.webp');
  background: url('../gallery/banners/promo-banner.jpg');
  background-size: cover;
  padding-top: 12rem;
  height: 75rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  justify-content: center;
  align-items: center;
  padding-bottom: 6rem;
}

.promo-slogan {
  font-family: "Yeseva One", sans-serif;
  text-transform: lowercase;
  font-size: 9rem;
  line-height: 12rem;
  color: #f5f5f5;
  text-shadow: 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
  font-weight: 400;
}

.promo-decoration {
  width: 23.2rem;
}

.promo-buttons {
  display: flex;
  gap: 2.8rem;
}

.btn,
.btn:link,
.btn:visited {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1.8rem;
  padding-left: 4.8rem;
  padding-right: 4.8rem;
  transition: all 0.5s;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  height: 5.6rem;
}

.btn--full:link,
.btn--full:visited {
  background-color: rgba(0, 0, 0, 0.6);
  color: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.7);
}

.btn--full:hover,
.btn--full:active {
  background-color: rgba(255, 255, 255, 0.3);
  color: #f5f5f5;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: rgba(255, 255, 255, 0.2);
  color: #f5f5f5;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.btn--outline:hover,
.btn--outline:active {
  background-color: rgba(0, 0, 0, 0.6);
  color: #f5f5f5;
}

/******************************/
/* ABOUT SECTION */
/******************************/

.about-section {
  background: url('../gallery/banners/about-banner.png');
  background-repeat: repeat;
  padding-top: 7.6rem;
  padding-bottom: 8.2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: inset 0 0 6rem rgb(0, 0, 0, 0.1);
  gap: 6.4rem;
  position: relative;
}

.about-section:before {
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: linear-gradient(to top left, rgba(85, 85, 85, 0.2) -100%, transparent 70%);
  z-index: -1;
}

.our-mission {
  width: 42rem;
  padding-top: 2.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.decoration-about {
  width: 24.8rem;
  margin-bottom: 2.4rem;
}

.meal-img {
  height: 55rem;
  border-radius: 100%;
  box-shadow: 0 3rem 5rem rgb(0, 0, 0, 0.3);
}

/******************************/
/* INGREDIENTS SECTION */
/******************************/

.ingredients-section {
  background: url('../gallery/banners/ingredients-banner.webp');
  background: url('../gallery/banners/ingredients-banner.jpg');
  background-size: cover;
  width: 100%;
  padding: 10rem 21.5rem 10rem 0;
  display: flex;
  justify-content: flex-end;
}

.ingredients-figure-container {
  width: 57rem;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 7.6rem;
  text-align: center;
}

.decoration-ingredients {
  width: 25rem;
  height: 2.4rem;
  margin-bottom: 2.4rem;
  opacity: 70%;
}

.ingredients-list {
  display: flex;
  gap: 3rem;
  justify-content: center;
  padding-top: 2.2rem;
}

.meals-circle {
  width: 11rem;
  height: 11rem;
  border: 0.5rem solid rgba(255, 255, 255, 0.15);
  border-radius: 100%;
}

/******************************/
/* MENU SECTION */
/******************************/

.menu-section {
  background: url('../gallery/banners/menu-banner.png');
  background-repeat: repeat;
  padding: 10rem;
  width: 100%;
  box-shadow: inset 0 0 6rem rgb(0, 0, 0, 0.1);
  gap: 16.8rem;
  position: relative;
}

.menu-section:before {
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: linear-gradient(to bottom right, rgba(85, 85, 85, 0.2) -100%, transparent 70%);
  z-index: -1;
}

.menu-columns {
  display: grid;
  grid-template-columns: 43.2rem 43.2rem;
  gap: 14rem;
  justify-content: center;
  text-align: center;
}

.decoration-menu {
  margin-bottom: 2.8rem;
  width: 24.8rem;
  height: 2.4rem;
}

.menu-items {
  display: flex;
  font-family: "Yeseva One", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: #cc9900;
  justify-content: space-between;
  margin-bottom: 0.8rem;
}

.menu-items-active {
  border: 0.05rem solid #cc9900;
  position: absolute;
  width: 45.4rem;
  height: 8rem;
  opacity: 50%;
  margin-left: -1rem;
  margin-top: -1rem;
}

.special {
  font-family: "Aria", sans-serif;
  position: absolute;
  color: #FFFFFF;
  width: 6.9rem;
  height: 2.2rem;
  background-color: #cc9900;
  font-size: 1.2rem;
  right: -0.05rem;
  top: -2.2rem;
  padding-top: 0.4rem;
}

.line-decoration {
  background-color: #cc9900;
  height: 0.1rem;
  opacity: 30%;
  margin-bottom: 1.2rem;
}

.menu-indent {
  margin-bottom: 3.6rem;
}

.description-of-menu-items {
  font-family: "Aria", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #696969;
  text-align: left;
}